CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile
prefix.sh
regenerateindex.sh
.directory
org.kde.mediacontroller_plus.appdata.xml
org.kde.mediacontroller_plus-plasmoids-metadata.json
*.plasmoid
build/
install_manifest.txt
